*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* background: #e6dccf; */
    background-image: url(https://thumbs.dreamstime.com/b/gold-texture-background-paper-yellow-vintage-cream-beige-color-parchment-paper-abstract-pastel-gold-gradient-brown-85906453.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color: #2d2d2d;
    margin-top: 3rem;
    font-family: "Segoe UI Emoji", sans-serif;
}

.main-container{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1{
    font-size: 5rem;
    margin-bottom: 20px;
    color: #2d2d2d;
    text-align: center;
    margin-bottom: 5rem;
}

.selection-area{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.player-select{
    background: #2d2d2d;
    padding: 2rem 3.5rem;
    border-radius: 15px;
    color: #f5ede3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.player-select select{
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.player-select h3{
    font-size: 1.5rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 6rem;
}

.game{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.box{
    width: 18vmin;
    height: 18vmin;
    border: none;
    border-radius: 20px;
    background: #2d2d2d;
    color: #f5ede3;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 6vmin;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.3s ease;

    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.box:hover{
    transform: scale(1.05);
    background: #444;
}

#reset-btn,
#new-btn{
    margin-top: 25px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 12px;
    background: #2d2d2d;
    color: #f5ede3;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

#reset-btn:hover,
#new-btn:hover{
    background: #444;
    transform: translateY(-2px);
}

.msg-container{
    margin-bottom: 20px;
    text-align: center;
    margin-top: 3rem;
}

#msg{
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #2d2d2d;
}

.hide{
    display: none;
}

/* Responsive */

@media(max-width: 1440px){
    .container{
        width: 30rem;
    }
    .game{
        width: 30rem;
    }
    .box{
        width: 8rem;
        height: 8rem;
    }
    .player1-area{
        margin-top: 15rem;
    }
    .player2-area{
        margin-top: 15rem;
    }
    h1{
        margin-bottom: -4rem;
    }
}

@media(max-width: 1024px){
    .container{
        margin: 0rem 2rem;
    }
    .player1-area{
        margin-top: 15rem;
    }
    .player2-area{
        margin-top: 15rem;
    }
    h1{
        margin-bottom: -4rem;
    }
}

@media(max-width: 768px){
    .container{
        margin: 0rem 1rem;
        width: 25rem;
    }
    .game{
        width: 25rem;
    }
    .box{
        width: 6rem;
        height: 6rem;
    }
    .player-select{
        padding: 1rem 1.5rem;
    }
    .player-select h3{
        font-size: 1.25rem;
    }
    .player-select select{
        margin-top: 1.5rem;
        padding: 1rem 0.5rem;
    }
    .player1-area{
        margin-top: 10rem;
    }
    .player2-area{
        margin-top: 10rem;
    }
}

@media(max-width: 426px){

    body{
        position: relative;
        margin-bottom: 5rem;
    }
    h1{
        font-size: 4rem;
    }
    .main-container{
        display: block;
    }
    .player1-area{
        position: absolute;
        top: 30%;
        left: 15%;
    }
    .player2-area{
        position: absolute;
        top: 30%;
        left: 55%;
    }
    .player-select{
        padding: 1rem 2rem;
    }
    .container{
        margin-top: 15rem;
    }

}

